@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: background-color, opacity, transform, color, translate;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
